@import "tailwindcss";
*{
  color: #fff;
}
body{
  background-image: url("https://plus.unsplash.com/premium_photo-1701845833229-8f5e5872591e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGJsdWUlMjBjb2xvciUyMGJhY2tncm91bmQlMjBpbWFnZXxlbnwwfHwwfHx8MA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  
}
#tasklist::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}
#tasklist::-webkit-scrollbar-thumb{
  background-color: rgb(143, 143, 143);
  border-radius: 50px;
}

